---
---

@import "{{ site.theme }}";


section {
  width:600px;          /* original: width:500px */
}

.wrapper {
  width:960px;          /* original: width:860px */
}

/* Don't display the standard footer */
footer {
  display:none;
}

/* Don't display the Github source code repository URL */
p.view {
  display:none;
}
